spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres #jdbc:postgresql://host.docker.internal:5433/postgres
    username: postgres
    password: pass

  jpa:
    properties:
      hibernate:
        show_sql: true

  sql:
    init:
      mode: always

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

app:
  cors:
    allowed-origins: "http://localhost:5173"

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
